.OrderForm{
    display: flex;
    flex-direction:column;
}
 

.OrderForm h2{
    color: #2C315D;
    font-size: 20px;
}
.OrderForm select{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    max-width: 400px;

}
.OrderForm label{
    text-align: left;
    display: block;
    font-size: 20px;
}
.OrderForm button{
    background-color: #2C315D;
    color: #fff;
    border: 0;
    padding: 0px;
    border-radius: 8px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    
}