.MenuForm{
    
    max-width: 400px;
    margin: 0 auto;
    text-align:  center;  
}
.MenuForm h1{
    color: #2C315D;
    font-size: 30px;
}
.MenuForm label{
    text-align: left;
    display: block;
    font-size: 20px;
}
.MenuForm input, .MenuForm select, .MenuForm textarea{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 20px;

}
.MenuForm button{
    background-color: #2C315D;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 110px;
    height: 50px;
    
}