*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
width: 646px;
height: 125px;
left: 637px;
top: 150px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: #000000;

}
.ControlOrderComponent{
    position: absolute;
width: 505px;
height: 134px;
left: 132px;
top: 463px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;
}
.CreateMenuComponent{
    position: absolute;
    width: 505px;
    height: 134px;
    left: 132px;
    top: 329px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
}
.CreateRestaurantComponent{
    position: absolute;
    width: 505px;
    height: 134px;
    left: 132px;
    top: 195px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
    
}
.ViewOrdersComponent{
    position: absolute;
    width: 505px;
    height: 134px;
    left: 132px;
    top: 597px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
}