.restaurantHeaderImg{
    width: 100%;
    max-height: 35vh;
    object-fit: cover;
}
.restaurantBody{
    margin: 30px;
}
.categories{
    display: flex;
}
.categories div{
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.menuItemsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.menuItem{
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 200px;
    box-shadow: 0px 4px 15px 2px #000000;
    border-radius: 5px;
}

.addItemButton{
    background-color: #2C315D;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    align-self: center;
}
.addItemButton:hover{
    cursor: pointer;
}
.menuItemName{
    font-size: 24px;
}
.menuItemPrice{
    font-size: 24px;
    font-weight: bold;
}
.showAllCategoriesButton{
    background-color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.menuItemImg{
    height: 125px;
    width: 90px;
}
