*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cart-items {

    margin: 30px auto;
    width: 50%;
    background-color: #C4C4C4;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.cart-items-header{
   
    display: flex;
    font-size: 40px;
    line-height: 56px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;

    
    
}
.cart-items-total-price {
    padding-top: 20px;
    padding-bottom: 5px;
}
.checkIn {
    display: flex;
    width: 231px;
    height: 51px;
    left: 844px;
    top: 709px;
    border-radius: 5px;
    background: #2C315D;

    color: white;
    font-size: 24px;
    line-height: 28px;

    justify-content: center;
    align-items: center;
    
}
.checkIn:hover{
    background-color: #353e8b;
}

.CheckInButton {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}




