*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C315D;
    width: 100%;
    height: 7vh;
    padding-left: 25px;
    padding-right: 25px;
}

.logo{
    color:white;
    font-size: 32px;
    font-weight: bold;
}

.welcomeText{
    color: white;
    font-size: 24px;
}